<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.mapper.BoardMapper">
	<select id="getShowBoards" resultType="com.vue.dto.BoardDTO">
		SELECT * FROM TABLE_BOARD WHERE BOARD_REZERVE_CHECK = 1
	</select>
	
	<select id="getRezerveBoard" resultType="com.vue.dto.BoardDTO">
		SELECT * FROM TABLE_BOARD WHERE BOARD_REZERVE_CHECK = 0
	</select>
</mapper>