<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.vue.mapper.MemberMapper">
	<select id="getCount" resultType="_int">
		SELECT COUNT(*) FROM
		TABLE_MEMBER
	</select>
	
	<select id="getMember" resultType="com.vue.dto.MemberDTO" parameterType="string">
		SELECT member_id as memberId, member_pass as memberPass, member_name as memberName 
		FROM TABLE_MEMBER WHERE member_id = #{memberId}
	</select>
	
	<insert id="addMember" parameterType="com.vue.dto.MemberDTO">
		INSERT INTO TABLE_MEMBER(member_id, member_pass, member_name) VALUES (#{memberId}, #{memberPass}, #{memberName});
	</insert>
</mapper>